body
{
    background-image: url('image/1.jpg');
    background-color:white;
    background-repeat: no-repeat;   
    background-size:cover;  
}
.inputArea{
        text-align:center;
}
h1{
    text-align:center;
    font-size: 30px;
}
ul{

    list-style-type:none;
    font-size: 23px;
}
#submitButton{
    background-color:#66baff;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.lio{
    display: flex;
}
li{
    padding:8px 0px 8px;
    font-size: 18px;
    list-style-type:none;
    display: flex;
    flex-direction: column;
}
a:link
{
    color: #000000;
    text-decoration: none;
}
a:visited 
{
    color: yellow;
    text-decoration: none;
}
a:hover
{
    color: #999999;
    text-decoration: underline;
}
.vote_detail{
    position:absolute;
    top: 575px;
}
.vote_result{
    position:absolute;
    top:605px;
}